html, body {
	height: 100%;
}
body {
	color: #a3a3a3;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}
#wrapper {
  min-height: 100%;
  margin-bottom: -40px; 
}
#wrapper:after {
  content: "";
  display: block;
  height: 40px;
}
footer {
	padding: 5px 0;
	height: 40px;
	background: #73879C;
	color: #fff;
}
header {
	padding-top: 10px;
}
header img {
	margin: 0 auto;
}
header h5 {
	margin-top: 0;
}
header .container {
	position: relative;
}
header .btn-group {
	position: absolute;
	right: 15px;
	bottom: 5px;
}
.work-area {
	min-height: 350px;
	background: #F8F8FF;
	padding: 15px;
}
#sortable {
	list-style: none;
	margin: 0;
	padding: 0;
}
#sortable li.ui-state-default, #master-title {
	position: relative;
	display: block;
	border: solid #eee 1px;
	padding: 15px 20px 15px 15px;
	margin-bottom: 15px;
	background: #fff;
}
#sortable li.ui-state-default {
	cursor: move;	
}
#sortable li a.delete-item { 
	position: absolute;
	top: -8px;
	right: -8px;
}
trix-editor {
    min-height: 250px !important;
    height: auto !important;
}
#uploader {
	width: 100%;
	margin-top: 5px;
	display: none;
}
.item-content .img-responsive {
	margin: 0 auto;
}
.content-prev {
	background: #fff;
	padding: 15px;
}
.content-prev .img-responsive, .modal-body .img-responsive {
	margin: 15px auto;
}
/*#col-control {
	display: none;
}*/